.infos {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .infos-span {
    font-family: monospace;
    flex-grow: 1;
    font-size: 1.1rem;
    text-align: center; 
  }


  .infos-span:not(.fname) {
    color: white;
  }

.fname{
    color: #EF552D;
}



.card{
  float:none;
  margin: 3rem auto ;
  width: 100%;
  max-width: 40rem;
  height: auto;
  background-color: transparent;
  box-shadow: 0 0 10px #EF552D;
  text-align: center;
  overflow: hidden;
}


.card-img-top{
  background-color: #EF552D;
  width: 100%;
  height: auto;
  filter: blur(14px);
}

.card-body{
  font-size: 1.1rem;
  margin-top: 1rem;
  color: #FFFFFF;
  font-family: monospace;
}

.card-text{
  margin: 0!important;
}

.btn{
  background-color: #EF552D;
  color: #282A37;
  border:none;
  margin-top: 1rem;
}

.buyticket{
  color: #EF552D;
}

.buyticket:hover,
.buyticket:active,
.buyticket:focus,
.buyticket:focus-visible{
  color: green;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn:focus-visible{
  background-color: green;
  color: #FFFFFF;
  border:none;
  box-shadow: 0 0 10px green;

}


.disabled,
.disabled:hover,
.disabled:active,
.disabled:focus,
.disabled:focus-visible{
  background-color: #EF552D!important;
  opacity: .45 !important;
  pointer-events: auto !important;
  cursor: default;
  box-shadow: none;
  border: none!important;
}

.icon_if_disable{
  color: red;
  font-size: 25px;
}


@media (max-width: 991px){

  .fname{
    display: none;
  }
}