.gen_pass
{
	font-family: monospace;
	width: 100%;
	height:100%;
}
.header
{
    color: rgb(249, 245, 245);
	font-size: 50px;
	font-family: monospace;
	text-align: center;
	max-width: 90%;
	height: auto;
	width: auto;
	margin: auto;
	margin-bottom: 20px;
}
.errors
{
	margin:auto;
}
#errors
{
	color: red;
	margin:auto;
}
.reset_password,.email_reset_password
{
    margin:auto;
    color:white;
}
#true_pass-text
{
	color: green;
	margin:0;
}
#pass-text
{
	color: red;
	margin:0;
}
.l3inin
{
	position: relative;
	height: 100%;
	width: 100%;
}
#send_mail{
	background-color: #ef542c;
	border-radius: 15px;
	width: 100%;
	height: auto;
	min-height: 50px;
	max-height: 70px;
	border: 2px solid #525561;
	
}
#send_mail:hover
{
	background-color: #b23f22;
}
.reset_password
{
	display: flex;
	flex-direction:column;
	height: auto;
	width: auto;
	gap: 30px;
	margin: auto;
	max-width: 500px;

}
#email,#new_password,#c_password
{
	color: aliceblue;
	background-color: #323644;
	width: 100%;
	height: 60px;
	border: 2px solid #525561;
	border-radius: 15px;
	padding-left: 20px;
}
.bi-eye
{
	cursor: pointer;
}
.bi
{
	right:10px;
	top:50%;
	position: absolute;
	transform: translateY(-50%);
	margin: auto;
}

.bi::before {
	color: #fff;
}

@media only screen and (max-width: 760px) {
	.reset_password
	{
		gap:30px;
		max-width:300px;
	}
  }