{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/base.css' %}">
    <script src="{% static 'base/js/base.js' %}"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'base/images/logo_mini.png' %}">
    {% block header_content %}
    {% endblock header_content %}
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light">
            <a class="navbar-brand" href="/">
              <img src="{% static 'base/images/logo_mini.png' %}" class="d-inline-block " alt="">
              <span class="Logo-name">Bus Bladi<span class="point_1"> .</span></span>
            </a>
          </nav>
          <ul class="notifications"></ul>
          {% block body_content %}
          {% endblock body_content %}
          <img src="{% static 'base/images/logo big.png' %}" class="logo-big" alt="">
    </div>
</body>
</html>
