{% extends 'base/base_1.html' %}
{% load static %}
{% block header_content %}
  <title>Buy-tickets</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
  <link rel="stylesheet" type="text/css" href="{% static '/css/buy-tickets.css' %}">
  <script src="{% static '/js/buy-tickets.js'%}" defer></script>
{% endblock header_content %}
{% block body_content %}
<div class="infos">
  <span class="fname infos-span">{{ db_user.fname }} {{ db_user.lname }}</span>
  <span class="infos-span">Tickets: <span class="tickets">{{ count_ticket }}</span></span>
  <span class="infos-span">Wallet: <span class="budget">{{ db_user.balance }}Dh</span></span>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="image-container">
          <img src="{% static '/images/amy-chen-lIp5q8s0e7s-unsplash.jpg' %}" class="card-img-top">
          <div class="card-text-number">Flexible Tickets</div>
        </div>
        <div class="card-body">
          <h5 class="card-title  simple">Number of Tickets</h5>
          <div class="input-group">
            <button id="decrement" class="incre_decre" onclick="decr_incre(1, 'input_1', '-')">-</button>
            <input type="number" id="input_1" value="1" readonly>
            <button id="increment" class="incre_decre" onclick="decr_incre(1, 'input_1', '+')">+</button>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="card-footer-butt" onclick="post_data('input_1', 'total_1')">Buy Now <span id="total_1">5</span> DH</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="image-container">
          <img src="{% static '/images/bus-1263266_1280.jpg' %}" class="card-img-top">
          <div class="card-text-number">10 Tickets</div>
        </div>
        <div class="card-body">
          <h5 class="card-title">10 Tickets, 2 on Us!</h5>
          <div class="input-group">
            <button id="decrement" class="incre_decre" onclick="decr_incre(10, 'input_2', '-')">-</button>
            <input type="number" id="input_2" value="12" readonly>
            <button id="increment" class="incre_decre" onclick="decr_incre(10, 'input_2', '+')">+</button>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="card-footer-butt" onclick="post_data('input_2', 'total_2')">Buy Now <span id="total_2">50</span> DH</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="image-container">
          <img src="{% static '/images/basil-lade-cUDugBG7cFY-unsplash.jpg' %}" class="card-img-top">
          <div class="card-text-number">20 Tickets</div>
        </div>
        <div class="card-body">
          <h5 class="card-title">20 Tickets, 5 on Us!</h5>
          <div class="input-group">
            <button id="decrement" class="incre_decre" onclick="decr_incre(20, 'input_3', '-')">-</button>
            <input type="number" id="input_3" value="25" readonly>
            <button id="increment" class="incre_decre" onclick="decr_incre(20, 'input_3', '+')">+</button>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="card-footer-butt" onclick="post_data('input_3', 'total_3')">Buy Now <span id="total_3">100</span> DH</button>
        </div>
      </div>
    </div>
  </div>
  <div id="spinner-overlay" class="spinner-overlay">
    <div class="spinner-border text-primary" role="status">
    </div>
  </div>

  <!-- <ul class="notifications"></ul>
  <div class="buttons">
    <button class="btn" id="success">Success</button>
    <button class="btn" id="error">Error</button>
    <button class="btn" id="warning">Warning</button>
    <button class="btn" id="info">Info</button>
  </div> -->

{% endblock body_content %}
