{% extends 'base/base.html' %}
{% load static %}

{% block header_content %}
    <title>resend email</title>
    <link rel='stylesheet' href="{% static '/css/reset_password.css' %}">
{% endblock header_content %}
{% block body_content %}
    <h1 class='header'>Verify email</h1>
    <form action="/resend_email/" method="POST" id="motlform">
        {% csrf_token %}
        <div class="reset_password">
            <div class="l3inin">
                <i class="bi bi-envelope-at"></i>
                <input type="email" placeholder="Email" name="email" id="email" required>
            </div>
            {% for error in errors %}
                <script> 
                    createToast('error', "{{error}}")
                </script>
            {%endfor%}
            <button type="submit" value="send_mail" id="send_mail">send email</button>
        </div>
    </form>
{% endblock body_content %}