
{% extends 'base/base.html' %}
{% load static %}


{% block header_content %}
    <title>scanner</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/scanner.css' %}">
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    
{% endblock header_content %}
    
{% block body_content %}
    
    {% csrf_token %}
    <h1>Scan QR Codes</h1>
    <div id="section" class="section">
        <div id="reader"></div>
    </div>
    <script src="{% static 'js/scanner.js' %}"></script>

{% endblock body_content %}
