{% extends 'base/base.html' %}
{% load static %}


{% block header_content %}
    <title>sign_up</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/signup.css' %}">
{% endblock header_content %}


{% block body_content %}
<div class="beff-form">
    <span class="text-create">
        Create new account<span class="point_1"> .</span>
    </span>
    <p class="text-already">
      Already A Member? 
      <a href="/" class="link-login">Log In</a>
    </p>
</div>
  <div class="div_form">
    {% for field, field_errors in errors.items %}
      <script>
        createToast('error', '{{field_errors}}')
      </script>
    {%endfor%}
    <form id="dataForm" action="/signup/" method="POST">
      {% csrf_token %}
      <div class="row mb-3">
          <div class="col input-group input-item">
            <div class="form-floating flex-grow-1">
              <input type="text" class="form-control" placeholder="First name" name="fname" required>
              <label for="fname">First name</label>
            </div>
            <span class="input-group-text icon-input"><i class="bi bi-person-vcard"></i></span>
          </div>
          <div class="col input-group input-item">
            <div class="form-floating flex-grow-1">
              <input type="text" class="form-control" placeholder="Last name" name="lname" required>
              <label for="lname">Last name</label>
            </div>
            <span class="input-group-text icon-input"><i class="bi bi-person-vcard"></i></span>
          </div>
        </div>
      <div class="input-group mb-3">
          <div class="form-floating flex-grow-1">
              <input type="email" class="form-control" placeholder="Email" name="email" required>
              <label for="Email">Email</label>
          </div>
          <span class="input-group-text icon-input"><i class="bi bi-envelope-at"></i></span>
        </div>
        <div class="input-group mb-3">
          <div class="form-floating flex-grow-1">
              <input type="tel" class="form-control" name="tel" placeholder="Phone_Number" required>
              <label for="Phone_Number">Phone Number</label>
          </div>
          <span class="input-group-text icon-input"><i class="bi bi-telephone"></i></span>
        </div>
        <div class="input-group mb-3">
          <div class="form-floating flex-grow-1">
              <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" required>
              <label for="Password">Password</label>
          </div>
          <span class="input-group-text icon-input">
              <a onclick="togglePasswordVisibility()"><i class="bi bi-eye" id="toggle-icon"></i></a>
          </span>
      </div>
      <div class="input-group mb-1">
        <div class="form-floating flex-grow-1">
            <input type="password" class="form-control" name="conf_pass" placeholder="conf_pass" required>
            <label for="conf_pass">Confirm Password</label>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
  </div>
  <script src="{% static '/js/signup.js' %}"></script>
{% endblock body_content %}